<header class="row">
    <div class="col-md-3">
        <h4>{{'USER' | translate}} {{user.login}}</h4>
        <h4>{{'STATUS' | translate}} {{user.role}}</h4>
    </div>
    <div class="col-md-9">
        <div class="btn-group btn-group-justified">
            <a href="#!/smeta"  class="btn btn-primary" translate>SMETA</a>
            <a href="#!/magazine" class="btn btn-primary" translate>MAGAZINE</a>
            <a href="#!/add-record" class="btn btn-primary" translate>ADD_RECORD</a>
            <a href="/building-system/logout" class="btn btn-primary btn-warning" translate>EXIT</a>
        </div>
    </div>
</header>
