<tr class="tdStyle">
    <th style="width: 5%" rowspan="2" translate>
        MAG_DATE
    </th>
    <th style="width: 30%" rowspan="2" translate>
        MAG_NAIMENOVANIE
    </th>
    <th style="width: 5%" rowspan="2" translate>
        MAG_WEATHER
    </th>
    <th style="width: 20%" rowspan="2" translate>
        MAG_CONDITION
    </th>
    <th colspan="2" translate>
        MAG_PRIEMKA
    </th>
    <th style="width: 20%" rowspan="2" translate>
        MAG_CONTROLE
    </th>
    <th style="width: 20%" rowspan="2" translate>
        MAG_INITIALS
    </th>
</tr>
<tr class="tdStyle">
    <th style="width: 5%" translate>MAG_UNIT</th>
    <th style="width: 5%" translate>MAG_NUMBER</th>
</tr>
